#mainContent{
    background-color: $primary-color;

    h1{
        font-size: $large-font;
    }
}


h1{
    @include flex-center;
}




.btn {
  padding: $spacing-sm $spacing-md;
  border-radius: $radius-sm;
  border: none;
  cursor: pointer;

  &--primary {
    background-color: $primary-color;
    color: white;
  }

  &--outline {
    border: 1px solid $primary-color;
    background: transparent;
    color: $secondary-color;
  }
}

.card {
    margin: 69px;
    padding-top: 25px;
  background: orange;
  border-radius: $radius-md;
  padding: $spacing-lg;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.input {
  width: 100%;
  padding: $spacing-sm;
  border: 1px solid #0ee62a;

  &:focus {
    border-color: $secondary-color;
    outline: none;
  }
}